*.uImage
*.bin
*.dtb
*.o
*.pyc
__pycache__/
*.img
*.img.xz
*.exe
*.dll
*.squash
*.jpg
*.ppm
*.pdf
*.wav
*.hex
*.gz
*.cpio
*.cpio.gz
*.itb
*.7z
*.zip
*.deb
*.tar
*.txt
*.S
python-embed/
python-embed.zip
libusb/
libusb.7z
rootfs/
rootfs_*/
fw_extracted/
fcc-photos/
captures/
platform-tools.zip
dfu-util.zip
lmledtool
stm32flash
stm32flash_static
console_uImage
custom_uImage
custom2_uImage
display_uImage
mainline-uImage
qemu-uImage
reboot_uImage
sentinel_uImage
boot.scr
script.fex
data.tar
*.inf
